{% extends 'base.html' %}

{% block content %}
<h2>Catálogo de Productos</h2>
<div class="product-grid">
    {% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
        <h3>{{ product.name }}</h3>
        <p>Precio: ${{ product.price }}</p>
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <button type="submit">Añadir al carrito</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}