{% extends 'base.html' %}
{% block content %}
<h2 class="gallery-title">Nuestros Productos</h2>
<div class="product-gallery">
    {% for producto in productos %}
        <div class="product-card">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <h3>{{ producto.nombre }}</h3>
            <p class="price">${{ producto.precio }}</p>
            <a href="{% url 'product_detail' producto.id %}" class="btn">Ver detalle</a>
        </div>
    {% endfor %}
</div>
{% endblock %}